@model Models.User

@{
    var profileRating = @Model.Profile.Rating;

    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
<script src="~/js/freelancer.js"></script>
<script src="~/js/rater.js"></script>
<div class="container">
    <div class="main-body">
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->
        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="data:image/png;base64,@Model.ProfileImage" alt="profile img" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>
                                    @Model.UserName
                                    <input type="hidden" name="userId" id="userId" value="@Model.Id"/>
                                </h4>
                                <p class="text-secondary mb-1">
                                    @Model.Profile.Designation
                                </p>
                                <p class="text-muted font-size-sm">
                                    @Model.Location
                                </p>
                                <a class="btn btn-success" href="/Freelancer/EditProfile">Edit My Profile</a>

                            </div>
                            <div class="rate"></div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @Model.PhoneNumber
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Experience</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @Model.Profile.Experience
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">HourlyRate</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @Model.Profile.HourlyRate
                            </div>
                        </div>                  <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="mb-0">Skills</h6>
                            </div>
                            <div class="col-sm-8 text-secondary">
                                @Model.Profile.Skills
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
             
                <div class="card mb-3">
                    <div class="p-3">
                        <h3>About me</h3>
                        @Model.Profile.Description
                    </div>
                </div>
                <div class="col-sm-12 mb-3 card">
                    <div class="col-sm-6">
                        <input type="hidden" name="user_rating" id="rating" value="0">
                        <div class="rate1"></div>
                        <textarea id="reviewDescription" rows="5" class="form-control"></textarea>
                        <input type="button" class="btn btn-success" value="Add Review" onclick="SaveReview()" />

                    </div>
                    <hr/>
                    <div class="col-sm-12">
                        <div class="recent-reviews">
                        @foreach(var item in Model.FreelancerReviews)
                        { 
                            for (int i = 0; i < item.Rating; i++)
                            {
                               <i class="fa fa-star checked" ></i>
                            }
                            <p>@item.Description </p>
                           <hr/>
                        }
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        var options = {
            max_value: 5,
            step_size: 1,
            selected_symbol_type: 'utf8_star',
            url: 'http://localhost/test.php',
            initial_value: '@profileRating',
        }
        $(".rate").rate(options);

        var options1 = {
            max_value: 5,
            step_size: 1,
            selected_symbol_type: 'utf8_star',
            url: 'http://localhost/test.php',
            initial_value: '@profileRating',
            update_input_field_name: $("#rating"),
        }
        $(".rate").rate(options);
        $(".rate1").rate(options1);
    });
</script>